<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhgg.appusagemonitor"
    android:versionCode="244"
    android:versionName="1.24" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <permission
        android:name="com.dhgg.appusagemonitor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.cloud.backend.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4030500" />

        <activity
            android:name="com.dhgg.appusagemonitor.MyFirstActivity"
            android:label="@string/title_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.google.cloud.backend.android.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.dhgg.appusagemonitor" />
                <!-- category android:name="com.google.cloud.backend.android" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name="com.dhgg.appusagemonitor.Broadcast_receiver_handler" >
            <intent-filter>
                <action android:name="dhgg.app.usage.monitor.start" />
                <action android:name="dhgg.app.usage.monitor.stop" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="org.achartengine.GraphicalActivity" />

        <service android:name="com.dhgg.cloudbackend.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.dhgg.cloudbackend.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="com.dhgg.cloudbackend.SyncProvider"
            android:authorities="com.dhgg.appusagemonitor.provider"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name="com.dhgg.appusagemonitor.HistoryPlotActivity"
            android:label="@string/title_activity_history_plot" >
        </activity>
    </application>

</manifest>
